.content
  
  %header
    .title
      Tango Nuestro

  %section
    .subtitle
      Ao vivo - Repertorio Internacional

    = image_tag '/assets/1.png', class: 'one'
    = image_tag '/assets/2.png', class: 'two'
    = image_tag '/assets/3.png', class: 'three'
    = image_tag '/assets/4.png', class: 'four'

  
  .contact
    %p
      %span.dark Fernando Farias:
      = mail_to 'violinoencantado@yahoo.com.ar'

    %p
      %span.dark Leopoldo Commisso:
      = mail_to 'Leopoldocommisso@gmail.com'
      %span.dark - Telefone: 
      +55 24 92659791


